{% extends "base.html" %}

{% block title %}
    Project List
{% endblock title %}

{% block content %}
    <h1 style="text-align: center;">This is Project List</h1>
    <a href="{% url 'create-project' %}"  class="btn btn-warning btn-lg" role="button">Add Project</a>
    <a href="{% url 'logout' %}"  class="btn btn-primary btn-lg" role="button" style="position: absolute; right:0;">Logout</a>
    <br>
    <br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for project in object_list %}
        {% include "card.html" with p=project %}
    {% endfor %}
</div>    
{% endblock content %}

